.head{
  display: flex;
  flex-direction: column;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: rgb(12, 12, 12);
  background: rgb(244, 243, 240);
  padding: 2%;
  
}